body {
    background: linear-gradient(to left, rgb(73, 73, 73), rgb(40, 202, 215));
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 300px;
    height: 280px;
    background-color: #717C89;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box #r {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding-left: 5px;
    font-size: 35px;
    overflow: auto;
}

.box .buttons {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.box .buttons button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    outline: none;
    transition: all 0.2s;
}

.box .buttons button:hover {
    box-shadow: none;
    width: 80px;
}

.box #e button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    outline: none;
}

.box #e button:hover {
    box-shadow: none;
    width: 120px;
}

